<div style="height: 100%">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span>Photo Station</span>
      <div style="flex: 1 1 auto;"></div>
      <div style="float: right;">
        <button mat-button>
          <mat-icon>cloud_upload</mat-icon>
          上传
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container style="height: calc(100vh - 64px)">
    <mat-sidenav #sidenav mode="over" role="navigation">
      <app-nav-menu [nodes]="currentNavNode"></app-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content role="main" class="main-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
