<div style="height: 100%">
  <router-outlet name="popup"></router-outlet>
  <mat-toolbar class="top-bar" (click)="onToolbarClick(sidenav)">
    <div class="toolbar-shadow" [ngClass]="container.elementRef.nativeElement.scrollTop>0
      ||hasBlockSelected()?'toolbar-shadow-shown':''">
    </div>
    <mat-toolbar-row class="toolbar-rows">
      <button mat-icon-button (click)="toggleSideNav($event);" #menuToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Photostation</span>
      <div style="flex: 1 1 auto;"></div>
      <div>
        <app-photo-uploader></app-photo-uploader>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container style="height: calc(100vh - 64px)">
    <mat-sidenav #sidenav mode="over" role="navigation" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0"
                 style="width:280px;">
      <div style="width: 100%;overflow: hidden;">
        <div class="brand" style="color: #3c4043;height: 64px;line-height: 64px;font-size: 21px;padding-bottom: 1px;
        padding-left: 24px;">
          Photostation
        </div>
        <div style="padding:24px 0;" *ngFor="let mg of menus;let i=index;"
             [ngStyle]="{'border': i==0?'none':'','border-top':i>0?'1px #dadce0 solid;':''}">
          <a class="menu-item" *ngFor="let menu of mg.items" [routerLink]="menu.link"
             [ngClass]="menu.link===currentUrl?'selected':''" routerLinkActive="selected"
             >
            <mat-icon>{{menu.icon}}</mat-icon>
            <div style="width: 100%;">
              <div class="menu-title">{{menu.title}}</div>
            </div>
          </a>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content #container role="main" class="main-container" (scroll)="onScroll(container)">
      <div style="width: calc(100vw - 40px);height: 100%; margin: 0 auto; padding: 0;" class="main-content">
        <router-outlet (activate)="onRouteActivate($event);"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
