<div class="popup-container">
  <div class="popup-header-bar">
    <app-header-bar [show-shadow]="showHeaderShadow">
      <div style="display:flex;align-items: center;">
        <button mat-icon-button (click)="goBack();$event.stopPropagation();">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
    </app-header-bar>
  </div>
  <div class="popup-content" (scroll)="onContentScroll($event);">
    <div style="display: flex;flex-direction: column;min-height: 100%">
      <div style="display: flex;flex-direction: column; margin: 0 auto; width: 100%;">
        <div style="margin: 0 auto;display: flex;flex-direction: column;width:90%;">
          <span class="group-title">{{album.name}}</span>
          <span style="color: #80868b; font-size: 14px; padding: 6px 0 28px 0;">2015年4月11日至2019年9月19日</span>
        </div>
      </div>
      <div style="position: relative;flex:1 1 auto;">
        <div id="flexBoxContainer" #flexBoxContainer class="group-container">
          <app-flex-box [data]="loadedPhotos" [box-height]="boxHeight"></app-flex-box>
        </div>
      </div>
    </div>
  </div>
</div>
