<div mat-dialog-content class="photo-viewer" id="photo-viewer">
  <div class="photo-viewer-container">
    <div class="photo-viewer">
      <div class="header-bar">
        <span class="exit">
          <button mat-fab (click)="closeDialog()">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </span>
        <div class="toolbar">
          <div class="button">
            <button mat-fab (click)="showPhotoInformation()">
              <mat-icon>info_outline</mat-icon>
            </button>
          </div>
          <div class="button">
            <button mat-fab>
              <mat-icon>star_border</mat-icon>
            </button>
          </div>
          <div class="button">
            <button mat-fab>
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <div class="button">
            <button mat-fab>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="images" [ngStyle]="{ height: imageHeight + 'px', width: imageWidth + 'px' }">
        <div class="image-content">
          <img [src]="src" style="height: auto;width:100%;" />
        </div>
      </div>
      <span class="previous" [hidden]="!canMovePrevious" (click)="showPreviousPhoto()">
        <button mat-fab>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </span>
      <span class="next" [hidden]="!canMoveNext" (click)="showNextPhoto()">
        <button mat-fab>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </span>
    </div>
  </div>
  <div class="info" [hidden]="hiddenInformation">
    <div style="display: flex;flex-direction: row-reverse;align-items: center;
      font: 400 1.125rem/1.5rem 'Google Sans',Roboto,Arial,sans-serif;justify-content:flex-end;padding:8px;">
      信息
      <button mat-icon-button (click)="showPhotoInformation()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div style="padding: 20px;">
      <mat-form-field style="width: 100%;">
        <input matInput type="text" placeholder="添加说明" [(ngModel)]="currentPhoto.title"
               (keyup)="onInputChanged($event,'title')" maxLength="15">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="currentPhoto.title"
                (click)="clearInputValue('title')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div *ngIf="currentPhoto.albums">
      <div style="display: flex; padding: 14px 24px; letter-spacing: .07272727em; font-family: Roboto,Arial,sans-serif;
       font-size: .6875rem; font-weight: 500; line-height: 1rem; text-transform: uppercase;    color: #80868b;">
        影集</div>
      <ul style="list-style-type: none; margin-bottom: 8px;margin: 0; padding: 0;">
        <li *ngFor="let album of allAlbums(currentPhoto)" style="padding: 18px 24px;">
          <a style="flex-direction: row; overflow: hidden; outline: none;
             display: flex;text-decoration: none; color: #2962ff; ">
            <div style="border-radius: 4px; height: 36px; width: 36px; background-color: #e8eaed;background-size:100% 100%;
             margin-right: 28px;flex: 0 0 auto;"
                 [ngStyle]="{'background-image': album.cover?'url(/api/photo/'+album.cover+'?t=true&w=40&h=40':''}">
            </div>
            <div style="display: flex;flex-direction: column;
                 flex: 1 1 auto;justify-content: space-between;overflow: hidden;">
              <div style="color: #3c4043; overflow: hidden; white-space: nowrap;
                   text-overflow: ellipsis; letter-spacing: .00625em; font-family: Roboto,Arial,sans-serif;
                   font-size: 1rem; font-weight: 400; line-height: 1.5rem;">
                {{album.name}}</div>
              <div style="color: #5f6368; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
                    letter-spacing: .01428571em; font-family: Roboto,Arial,sans-serif;
                    font-size: .875rem; font-weight: 400; line-height: 1.25rem">
                {{album.photos}}项&nbsp;·&nbsp;{{album.createTime|date:'yyyy年M月dd日'}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>


    <!-- <div style="padding: 20px">
      <mat-form-field class="example-chip-list" style="width: 100%">
        <mat-chip-list #albumList aria-label="Albums selection">
          <mat-chip *ngFor="let alb of currentPhoto.albums" removable="true" (removed)="removeElement(alb,'albums')">
            {{alb}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Albums..." matChipInputAddOnBlur="true"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputFor]="albumList"
                 (matChipInputTokenEnd)="addElement($event,'albums')">
        </mat-chip-list>
      </mat-form-field>
    </div>

    <div style="padding: 20px">
      <mat-form-field class="example-chip-list" style="width: 100%">
        <mat-chip-list #tagList aria-label="Tags selection">
          <mat-chip *ngFor="let tag of currentPhoto.tags" removable="true" color="primary"
                    (removed)="removeElement(tag,'tags')">
            {{tag}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Labels..." [matChipInputFor]="tagList" matChipInputAddOnBlur="true"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addElement($event,'tags')">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div style="padding: 20px;">
      <mat-form-field style="width: 100%;">
        <textarea matInput type="text" placeholder="照片描述..." [(ngModel)]="currentPhoto.note"
                  (keyup)="onInputChanged($event,'note')" style="resize: none;min-height: 80px;"
                  maxLength="150"></textarea>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInputValue('note')"
                *ngIf="currentPhoto.note">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div> -->

    <div class="photo-info-detail">
      <div class="title">
        详情
      </div>
      <dl style="margin: 0;padding: 0;">
        <div class="row">
          <dt>
            <mat-icon>event_outline</mat-icon>
          </dt>
          <dd>
            <div class="headline">{{currentPhoto.date|date:'yyyy年M月dd日'}}</div>
            <div class="subline">
              <span class="sprMub">{{currentPhoto.date|date:'EEE, aaa HH:mm'}}</span>
            </div>
          </dd>
        </div>
        <div class="row">
          <dt>
            <mat-icon>image_outline</mat-icon>
          </dt>
          <dd>
            <div class="headline">{{currentPhoto.name}}</div>
            <div class="subline">
              <span class="sprMUb">{{(currentPhoto.width*currentPhoto.height/1000000).toFixed(1)}}MP</span>
              <span class="sprMUb">{{currentPhoto.width}} x {{currentPhoto.height}}</span>
              <span class="sprMUb"> {{(currentPhoto.size/(1024*1024)).toFixed(2)}}MB</span>
            </div>
          </dd>
        </div>
        <div class="row">
          <dt>
            <mat-icon>camera_outline</mat-icon>
          </dt>
          <ng-container *ngIf="(currentPhoto.camera && currentPhoto.camera.maker); then hasCamera;else noCamera">
          </ng-container>
          <ng-template #hasCamera>
            <dd>
              <div class="headline">
                {{currentPhoto.camera.maker+'/'+currentPhoto.camera.model}}
              </div>
              <div class="subline">
                <span class="sprMUb">ƒ/{{currentPhoto.camera.aperture}}</span>
                <span class="sprMUb">{{renderExposureTime(currentPhoto.camera.exposure)}}</span>
                <span class="sprMUb">{{currentPhoto.camera.focalLength}}毫米</span>
                <span class="sprMUb">ISO{{currentPhoto.camera.iso}}</span></div>
            </dd>
          </ng-template>
          <ng-template #noCamera>
            <dd>
              <div class="headline">
                Unknown
              </div>
              <div class="subline">
                <span class="sprMUb">unknown</span>
              </div>
            </dd>
          </ng-template>
        </div>
      </dl>
    </div>
  </div>
</div>
